body {
	font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding-top: 20px;
}



#navbar {
    display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}


ul {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

li {
  float: left;
}

li a {
  display: flex;
  padding: 14px 16px;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

li a:visited {
  color: rgba(0,0,0,0.87);
}

li a:hover {
    text-decoration: underline;
}


#connect {
    padding: 6px 12px 6px 12px;
    color: white;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: #4285f4;
    border-radius: 2px;
}




#section {
    display:flex;
    align-items: center;
    flex-direction: column;
}


#search {
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    margin: 0 auto;
    width: 484px;
}


#search:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 2px rgba(0,0,0,0.08);
}

img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-bottom: 30px;
}


#button-container {
    padding-top: 18px;
}

.buttons {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-weight: bold;
    margin: 11px 4px;
    padding: 10px 16px;
    text-align: center;
}

.buttons:hover {
    border: 1px solid #757575;
    color: #000000;
}


#footer {
    position: absolute;
    bottom: 0;
    width:100%;
}


#footer-first {
    display: flex;
    padding-left: 16px;
	background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 10px;
    color: rgba(0,0,0,.54);
}

#footer-second {
    display: flex;
    justify-content: space-between;
	background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    color: rgba(0,0,0,.54);
}


#footer-second a {
  padding: 14px 16px;
  text-decoration: none;
  color: #5f6368;
}


#footer-second a:hover {
    text-decoration: underline;
}

#footer-second a:visited {
    color: #5f6368;;
}


